files:
  "/etc/logrotate.d/tomcat-catalina":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Rotates the Tomcat catalina.out written by our rsyslog redirect (see tomcatlogs.config).
      /var/log/tomcat/catalina.out {
        daily
        rotate 7
        missingok
        notifempty
        compress
        delaycompress
        copytruncate
        size 100M
      }
