###################################################################################################
#### Adds Tomcat's catalina.out to Elastic Beanstalk's "publish logs to S3" task.
####
#### EB rotates a platform-defined set of logs to the environment's S3 bucket under
#### resources/environments/logs/publish/<env-id>/<instance-id>/, and the Sumo Logic collectors
#### ingest from that bucket. The AL2023 Tomcat 9 platform's default publish set does NOT include
#### the application's catalina.out (only Tomcat's JULI catalina.<date>.log files), so application
#### logs stopped reaching Sumo Logic after the AL2 -> AL2023 upgrade. This restores them by
#### explicitly adding catalina.out (and its rotations) to the publish task.
####
#### AWS docs, "Extending the default log task configuration":
####   https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.logging.html
###################################################################################################

files:
  "/opt/elasticbeanstalk/tasks/publishlogs.d/catalina-out.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/tomcat/catalina.out
      /var/log/tomcat/catalina.out.*
