###################################################################################################
#### The configuration below sets the logs to be pushed, the Log Group name to push the logs to and
#### the Log Stream name as the instance id. The following files are examples of logs that will be
#### streamed to CloudWatch Logs in near real time:
####
#### /var/log/tomcat/catalina.out
####
#### You can then access the CloudWatch Logs by accessing the AWS CloudWatch Console and clicking
#### the "Logs" link on the left. The Log Group name will follow this format:
####
#### /aws/elasticbeanstalk/<environment name>/<full log name path>
####
#### Please note this configuration can be used additionally to the "Log Streaming" feature:
#### http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html
###################################################################################################

packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/config/beanstalklogs.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/eb-activity.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-activity.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-activity.log*

      [/var/log/tomcat8/catalina.out]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/tomcat8/catalina.out"]]}`
      log_stream_name={instance_id}
      file=/var/log/tomcat/catalina.out*

  "/etc/rsyslog.d/catalina.conf":
    mode: "0644"
    owner: root
    group: root
    content: |
      #redirect tomcat logs to /var/log/tomcat/catalina.out discarding timestamps since the messages already have them
      template(name="catalinalog" type="string"
          string="%msg%\n")
      if $programname  == 'server' then {
        *.=warning;*.=err;*.=crit;*.=alert;*.=emerg /var/log/tomcat/catalina.out;catalinalog
        *.=info;*.=notice /var/log/tomcat/catalina.out;catalinalog
       }

commands:
  "01_rm_old_confs":
    command: "rm beanstalklogs.conf.bak tomcatlogs.conf tomcatlogs.conf.bak"
    cwd: "/etc/awslogs/config"
    ignoreErrors: true

  "02a_systemctl_start_awslogsd":
    command: systemctl start awslogsd
    ignoreErrors: true

  "02b_systemctl_enable_awslogsd_service":
    command: systemctl enable awslogsd.service
    ignoreErrors: true

  "02c_restart_awslogs":
    command: service awslogsd restart

  "03_restart_rsyslog":
    command: systemctl restart rsyslog
