Resources:
  WafAcl:
    Type: 'AWS::WAFv2::WebACL'
    Properties:
      Name: '`{ "Ref" : "AWSEBEnvironmentName" }`'
      Description: 'Web ACL to block malicious requests'
      Scope: REGIONAL
      DefaultAction:
        Allow: {}
      VisibilityConfig:
        SampledRequestsEnabled: true
        CloudWatchMetricsEnabled: true
        MetricName: WafAclMetric
      Rules:
        - Name: AwsCommonRule
          Priority: 1
          OverrideAction:
            None: {}
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: AwsCommonRuleMetric
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesCommonRuleSet
        - Name: AwsKnownBadRule
          Priority: 0
          OverrideAction:
            None: {}
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: AwsKnownBadRuleMetric
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesKnownBadInputsRuleSet
        - Name: AwsBotControlRule
          Priority: 2
          OverrideAction:
            None: {}
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: AwsBotControlRuleMetric
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesBotControlRuleSet

# Attach the Web ACL to the Load Balancer created by Beanstalk
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-resources.html
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-format-resources-eb.html
  WafAclAssociation:
    Type: 'AWS::WAFv2::WebACLAssociation'
    Properties:
      ResourceArn: '`{ "Ref" : "AWSEBV2LoadBalancer" }`'
      WebAclArn: '`{ "Fn::GetAtt" : ["WafAcl", "Arn" ]}`'
